* {
  margin:0px;
  padding:0px;
 box-sizing: border-box;
 }
 html{
   scroll-behavior: smooth;
 }
 body{
   font-family: 'Montserrat', sans-serif;
 }
 button{
  font-size: 17px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efff0091;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #9e9e9e96;
    display: flex;
    align-items: center;
    padding: 1px 10px;
    margin: 33px 33px;
    line-height: 40px;
    color: white;
    top: 66px;
    right: 159px;
    position: absolute;
  
  
}
 
 
 .banner{
   width:100%;
   height: 100vh;
     background: url(/img/bg.jpg) no-repeat ;
     background-size: cover;
     position: relative;
     background-attachment: fixed;
     
 }
 .banner_content{
  position: relative;
   height: 100vh;
   display: flex;
   align-items: center;
 }
 
 .container{
   /* background-color: #fff; */
   width: 1200px;
   max-width: 1200px;
   margin: 0 auto;
 }
 
 .banner-txt{
   width: 500px;
   padding-bottom: 102px;
 }
 .banner-txt h3{
 font-size: 50px;
 /* color:rgb(153, 247, 14); */
 }
 .banner-txt h1{
   /* color: aqua; */
   font-size: 80px; 
   line-height: 80px;
   font-weight: 900;
   margin-top: 20px;
 }
 .banner-txt p{
   font-size: 25px; 
   font-weight: 400;
   margin-top: 20px;
 
 }
 .btn{
  margin: 0px 10px;
  border: 2px solid gray;
  border-radius: 17px;
  background: black;
  color: white;
  padding: 7px 6px;
  font-size: 12px;
  cursor: grab;
  margin-top: 20px;
  position: relative;
  left: 0px;
 }
 
 
 /*  nav  */
 .navbar {
   /* background-color: cornflowerblue; */
   display: flex;
     align-items: center;
     justify-content: center;
     /* position: sticky; */
     top:0px;
     cursor: pointer;
  
 
 }
 
 .logo{
   margin:2px 21px; 
   
   
   }
   .logo img{
     height:100px;
     margin:5px 6px ;
    
 }
 .navbar ul{
   display: flex;
   font-family: 'Baloo Bhai 2', cursive;
   
 }
 
 
 .navbar ul li{
 list-style: none;
 font-size:1.3rem ;
 
 
 }
 
 .navbar ul li a{
 color: white;
 display: block;
 padding: 3px 22px;
 border-radius: 20px;
 text-decoration: none;
 text-transform: uppercase;
 } 
 
 .navbar ul li a:hover{
 color: black;
 background-color:white;
 } 
 
 .navbar_txt{
   display: flex;
   align-items: center;
   /* position: sticky; */
   top: 0px;
   height: 96px;
 }
 
 /* about */
 .about{
  /* position: relative; */
    background-color:lightgray; 
   padding: 80px;
 }
 .row{
   display: flex;
   width: 100%;
   position: relative;
 }
 .col-6{
   width: 50%;
  
 }
 .about h3{
   /* color: rgb(143, 143, 143); */
   font-size: 30px;
   margin-bottom: 12px;
   font-weight: 700;
 }
 
 .about h1{
   font-size: 40px;
   margin-bottom: 15px;
   font-weight: 700;
   line-height: 40px;
 }
 .about p{
   font-size: 18px;
   color: gray;
   font-weight: 300;
 }
 .about_img img{ 
   height: 362px;
   margin: 0px 3px;
   padding: 0 7px;
 }
 
 /* menu_img */
 .menu{
  
   background-color: lightgray;
 }
 .menu_img img{ 
   height: 401px;
   margin: 87px 0px
 }
 
 .menu-txt{
   width: 500px;
   padding-bottom: 102px;
 }
 .menu-txt h3{
 font-size: 50px;
 /* color:rgb(153, 247, 14); */
 }
 .menu-txt h1{
   /* color: blue; */
   font-size: 40px; 
   line-height: 50px;
   font-weight: 900;
   margin-top: 20px;
 }
 .menu-txt p{
   font-size: 25px; 
   font-weight: 400;
   margin-top: 20px;
 
 }
 
 /* shop-container */
 .shop-container{
   /* background-color: lightblue;
   margin: 34px 339px;
   height: 231px; */
   
   height: 444px;
   display: flex;
   align-items: center;
   background: url(/img/bg.jpg) no-repeat ;
     background-size: cover;
     position: relative;
     background-attachment: fixed;
 }
 .shop-content{
     /* background-color: gray; */
     width: 1200px;
     /* max-width: 1200px; */
     margin: 0 auto;
 } 
 .shop-txt{
   position: absolute;
     margin: 0px 314px;
     padding: 2px 2px;
 }
   
 
 .shop-txt h3{
  
  font-size: 25px; 
 }
 .shop-txt h1{
   font-size: 32px;
     font-weight: 300;
     margin: 4px 35px;
 }
 
 
 /* client */
 .client{
 width: 100%;
 padding: 80px 0px;
 background: url(/img/bg.jpg) no-repeat ;
 background-size: cover;
 background-attachment: fixed;
 
 }
 .col-3{
 width: 85%;
 }
 .container-client{
   /* background-color: gray; */
   display: flex;
 }
 .client-txt{
   text-align: center;
 }
 .client-txt h1{
   font-size: 34px;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .client-txt p{
   font-size: 29px;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .footer{
   background-color:lightgray;
   width: 100%;
   padding: 1px 0px;
 }
 .footer-txt{
   text-align: center;
   font-size: 19px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
 
 }
 
 /* css phone */
 @media (max-width:1360px){
 
   .navbar_txt{
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     height: auto;
     margin:auto;
   }
   .logo{
     margin-bottom: 20px;
   }
   
   .shop-container,.banner{
     width: 100%;
   }
   .banner{
    width: 100%;
    height: 100%;
   }
 
 
   .banner-txt{
    position: relative;
    padding-bottom: 226px;
   }
   .banner-txt h3{
     font-size: 40px;
   color:rgb(153, 247, 14);
   }
   .banner-txt h1{
     color: aqua;
     font-size: 17px;
     line-height: 20px;
     font-weight: 800;
     margin-top: 12px;
   }
   .banner-txt p{
    font-size: 17px;
     font-weight: 500;
     margin-top: 14px;
   
   }
   .client,.footer{
     width:100%;
   }
   .col-3,.col-4,.col-6{
     width: 100%;
   }
  .navbar_ul{
    width: 100%;
  }

  .row{
    flex-direction: column-reverse;
  }
  .menu_img img {
    height: 322px;
    margin: 24px 0px;
}
.about_img img {
  height: 250px;
  margin: 2px 2px;
  padding: 0 0px;
}
.shop-txt {
  position: relative;
  /* margin: 0px 314px; */
  padding: 2px 2px;
  text-align: center;
}
.shop-txt h1 {
  font-size: 20px;
  font-weight: 300;
  margin: 4px 0px;
}
.col-6 {
  /* width: 100%; */
  position: relative;
  /* font-size: medium; */
}
.btn{
  left: 12px;
  margin-top: 32%;
  /* margin: 0px 0px; */
  padding: 1px 1px;
  font-size: 10px;
  cursor: grab;
}
 }


/* phone 460 */
 /* @media (max-width:460px){
  .navbar_txt{
    width: 100%;
    height: auto;
    margin:0 auto;
  }
  .logo{
    margin-bottom: 20px;
  }
  
  .shop-container,.banner{
    width: 282%;
  }
  


  .banner-txt{
    width:auto;
    padding-bottom: 30px;
  }
  .banner-txt h3{
    font-size: 40px;
  color:rgb(153, 247, 14);
  }
  .banner-txt h1{
    color: aqua;
    font-size: 61px;
    line-height: 80px;
    font-weight: 800;
    margin-top: 12px;
  }
  .banner-txt p{
    font-size: 37px;
    font-weight: 500;
    margin-top: 16px;
  
  }
  .client,.footer{
    width: 100%;
  }
  .col-3,.col-4,.col-6{
    width: 100%;
  }
 .navbar_ul{
   width: 100%;
 }
}

  */